---
import Layout from '../layouts/Layout.astro';
---

<Layout title="VashonMesh - Join Us">
  <main>
    <section class="content">
      <div class="card">
        <h2>Welcome</h2>
        <p>
          We're not a formal group but to get in on the discussion check out Vashon's Discord server (#vashon) or join the local radio club, <a href="https://w7vmi.net" target="_blank" rel="noopener">W7VMI</a>.
        </p>
        <p>
          Check our blog for upcoming events and workshops on mesh networking and related topics.
          </p>
        <p>
          Feel free to reach out if you have questions or want to get involved!
        </p>
      </div>
    </section>
  </main>
  </Layout>