---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="VashonMesh - Contact Us">
  <section class="content">
    <div class="card">
      <h2>Welcome</h2>
      <p>
        VashonMesh is a small group of rebels informally helping islanders
        connect with MeshCore and related local area mesh networks.
      </p>
      <p>
        Our mission is to empower neighbors to build resilient, decentralized
        networks that foster communication and collaboration.
      </p>
    </div>

    <div class="space-y-2">
      <details class="group [&_summary::-webkit-details-marker]:hidden" open="">
        <summary
          class="flex cursor-pointer items-center justify-between gap-4 rounded-lg border border-gray-200 bg-white px-4 py-3 font-medium text-gray-900 hover:bg-gray-50"
        >
          <span>What are the basic features?</span>

          <svg
            class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </summary>

        <div class="p-4">
          <p class="text-gray-700">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            similique, quae hic dicta quo facere facilis praesentium a sunt, est
            quia pariatur nam, modi aut minus iste odio consectetur molestias
            iusto cupiditate ullam laborum veniam quos officia. Quos, temporibus
            perspiciatis!
          </p>
        </div>
      </details>

      <details class="group [&_summary::-webkit-details-marker]:hidden" open="">
        <summary
          class="flex cursor-pointer items-center justify-between gap-4 rounded-lg border border-gray-200 bg-white px-4 py-3 font-medium text-gray-900 hover:bg-gray-50"
        >
          <span>How do I get started?</span>

          <svg
            class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </summary>

        <div class="p-4">
          <p class="text-gray-700">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            similique, quae hic dicta quo facere facilis praesentium a sunt, est
            quia pariatur nam, modi aut minus iste odio consectetur molestias
            iusto cupiditate ullam laborum veniam quos officia. Quos, temporibus
            perspiciatis!
          </p>
        </div>
      </details>

      <details class="group [&_summary::-webkit-details-marker]:hidden">
        <summary
          class="flex cursor-pointer items-center justify-between gap-4 rounded-lg border border-gray-200 bg-white px-4 py-3 font-medium text-gray-900 hover:bg-gray-50"
        >
          <span>What support options are available?</span>

          <svg
            class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </summary>

        <div class="p-4">
          <p class="text-gray-700">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            similique, quae hic dicta quo facere facilis praesentium a sunt, est
            quia pariatur nam, modi aut minus iste odio consectetur molestias
            iusto cupiditate ullam laborum veniam quos officia. Quos, temporibus
            perspiciatis!
          </p>
        </div>
      </details>
    </div>
  </section>
</Layout>
