---
import Favicon from "../../public/Favicon.svg";


---
<link rel="sitemap" href="/sitemap-index.xml">
<title>Vashon Mesh Networking</title>
<meta name="description" content="Vashon's mesh networking team">

<!-- const { title = "Vashon Mesh Networking", ...props } = Astro.props;  -->
<!-- this page per https://docs.astro.build/en/guides/configuring-astro/#add-site-metadata -->
<!-- import SomeOtherTags from "./SomeOtherTags.astro"; -->

<!-- Web analytics -->
<!-- <script data-goatcounter="https://vashonmesh.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->

<!-- Open Graph tags -->
<meta property="og:title" content="VashonMesh Website" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.VashonMesh.org/" />
<meta property="og:description" content="Vashon's mesh networking team" />
<meta property="og:image" content="https://www.VashonMesh.org/public/seo-banner.webp">
<meta property="og:image:alt" content="">

<!-- SomeOtherTags /-->

<Favicon />